.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  text-align: start;
  gap: 8px;

  &.center {
    align-items: center !important;
    justify-content: center !important;
  }

  &.start {
    align-items: start !important;
    justify-content: start !important;
  }

  &.end {
    align-items: end !important;
    justify-content: end !important;
  }

  &.row {
    flex-direction: row !important;

    &.v-start {
      align-items: start !important;
    }

    &.v-end {
      align-items: end !important;
    }

    &.v-center {
      align-items: center !important;
    }

    &.h-start {
      justify-content: start !important;
    }

    &.h-end {
      justify-content: end !important;
    }

    &.h-center {
      justify-content: center !important;
    }
  }

  &.distance {
    padding: 16px;
  }

  &.h-start {
    align-items: start !important;
  }

  &.h-end {
    align-items: end !important;
  }

  &.h-center {
    align-items: center !important;
  }

  &.v-start {
    justify-content: start !important;
  }

  &.v-end {
    justify-content: end !important;
  }

  &.v-center {
    justify-content: center !important;
  }
}