// Colors
@white: #fff;
@black: #000;

@blue: #0080ff;
@deep-blue: #2962FF;

@green: #00d676;
@deep-green: #00C853;

@red: #F44336;
@deep-red: #C62828;

@orange: #ff8800;
@deep-orange: #F57C00;

@pink: #EC407A;
@deep-pink: #E91E63;

@purple: #7C4DFF;
@deep-purple: #651FFF;


// Rules
@filter: brightness(0.8);
@anim: 300ms;
@round: 4px;
